<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/contact.css">
  </head>
  <body> <body data-twttr-rendered="true">
    <h1>Contact Bennett</h1>
    <h2><a href="mailto:bennettadams46@gmail.com" target="_top">email</a>: bennettadams46@gmail.com</h2>
    <h3><a href="https://twitter.com/theBennettAdams" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @theBennettAdams</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></h3> 
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/whoiam">Who I am</a></li> 
      <li><a href="/interests">What Interests Me</a></li>
      <li><a href="/prepivot">My (Pre-Pivot) Career</a></li>
    </ul>
  </body>
</html>