<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/home.css">
</head>
  <body>
    <%#<script>

      s=window.prompt("Please enter your first name.","First Name");
      alert('Hello, '+s+', and welcome to my website!')
    </script>%>
    <h1>Bennett Adams</h1>
    <h2>Hi there, and welcome to my personal website!</h2>
    <ul>
      <li>
        <a href="/whoiam">Who I am</a>
      </li>
      <li>
        <a href="/prepivot">My (Pre-Pivot) Career</a>
      </li>
      <li>
        <a href="/interests">What Interests Me</a>
      </li>
      <li>
        <a href="/contact">Contact Me</a>    
      </li>
    </ul>  

  </body>  
</html>
