<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/prepivot.css">
  </head>
  <body>
    <h1>My (Pre-Pivot) Career</h1>
    <h3>I graduated in 2002 from the University of Virginia with B.A.s in Economics and Foreign Affairs, then took a left turn into neurophysiology. For the past eleven years, I have worked professionally as an intraoperative neurodiagnostician. When a patient undergoes a spine or brain surgery, the surgeon calls on folks like me to monitor the patient’s nervous system, especially their motor and sensory function. I’ve had the opportunity to see and take part in a number of remarkable procedures, from spinal cord tumor removals to brain mapping cases.  I’ve taught and trained novice technologists, and I created and delivered a lecture to Emory University’s neurosurgery staff. Apart from acquiring an entirely new skill set and taking on a different set of responsibilities, the biggest adjustment for me in my career pivot to coding will be not wearing glorified pajamas to work every day.</h3>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/whoiam">Who I am</a>
      </li>
      <li>
        <a href="/interests">What Interests Me</a>
      </li>
      <li>
        <a href="/contact">Contact Me</a>    
      </li>
    </ul>  
  </body>  
</html>
