<!DOCTYPE html>
<html>
  <head> 
    <link rel="stylesheet" href="css/whoiam.css">
  </head>
  <body>
      <h2>I am a 34-year-old native Atlantan, currently living in Grant Park. My wife Whitney and I have a three-year-old son named Asa; I know most of the songs from the Backyardigans by heart. I am a Braves and Falcons fan by blood and rearing, and I have steadfastly remained one against my better judgment. Please feel free to explore the site and let me know what you think.</h2>
    <ul>
      <li><a href="/">Home</a></li> 
      <li><a href="/prepivot">My (Pre-Pivot) Career</a></li>
      <li><a href="/interests">What Interests Me</a></li>
      <li><a href="/contact">Contact Me</a></li>
    </ul>
  </body>
</html>